.bg-white {
  background-color: white
}

.bg-success {
  background-color: #28a745
}

.bg-error {
  background-color: #c82333
}

.border-thin-all {
  border-width: 1px;
  border-style: solid;
}

.border-radius-normal {
  border-radius: 5px
}

.border-error {
  border-color: #bd2130
}

.border-success {
  border-color: #28a745
}

.btn-size-normal {
  height: 50px;
  width: 150px;
}

.margin-left-10 {
  margin-left: 10px
}

.margin-right-10 {
  margin-left: 10px
}

.margin-top-10 {
  margin-left: 10px
}

.margin-bottom-10 {
  margin-left: 10px
}

.margin-all-10 {
  margin: 10px
}

.padding-left-10 {
  padding-left: 10px
}

.padding-right-10 {
  padding-right: 10px
}

.padding-top-10 {
  padding-top: 10px
}

.padding-bottom-10 {
  padding-bottom: 10px
}

.padding-all-10 {
  padding: 10px
}

.input-text-normal {
  height: 30px;
  width: 150px;
}

.text-white {
  color: white
}

.text-large {
  font-size: 25px
}